html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.Container {
    display: flex;
    flex-direction: column;
}

.header-content {
    display: flex;
    background-image: url("./assets/racecar.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-end;
    align-items: flex-end;
    height: 80vh;
    width: 100vw;
}


.Tune {
    height: 80vh;
}

.Tune h1 {
    font-size: 60px;
    text-align: center;
}

#Sliders {
    display: flex;
    justify-content: center;
}

#Sliders h2 {
    display: flex;
    justify-content: center;
    gap: 16px;
}

#down {
    margin-top: 100%;
    padding-bottom: 25%;
}

