/* :root {
  --primary: #eeeeee;
  --primary_light: #ffffff;
  --primary_dark: #bcbcbc;
  
  --secondary: #bbdefb;
  --secondary_light: #eeffff;
  --secondary_dark: #8aacc8;

} */

.MuiSlider-root {
  color: #20b2aa;
}

.MuiSlider-root:hover {
  color: #2e8b57;
}