:root {
  --primary: #eeeeee;
  --primary_light: #ffffff;
  --primary_dark: #bcbcbc;
  
  --secondary: #bbdefb;
  --secondary_light: #eeffff;
  --secondary_dark: #8aacc8;

}

* {
  background-color: var(--primary);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  min-height: 100vh;
  text-align: center;
  font-size: 4vh;
}
